@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@if (!Model.Any())
{
    <h1>We dont have any customer</h1>
}
else
{
    
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Customers</td>
                <td>Discount Rate</td>
                <td>Discount Name</td>
            </tr>
        </thead>
        <tbody>
            

            @foreach (var cust in Model)
            {
            <tr>
                <td>@Html.ActionLink(cust.Name, "Edit", "Customer", new { id = cust.Id }, null)</td>
                <td>@cust.MembershipType.DiscountRate%</td>
                <td>@cust.MembershipType.Name</td>
            </tr>
            }
        </tbody>
    </table>
}
