@model Vidly.Models.Movie
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>
<ul>
    <li>Name: @Model.Name</li>
    <li>ReleaseDate: @Model.ReleaseDate</li>
    <li>Genre: @Model.GenreType.GenreType</li>
    <li>NumberInStock: @Model.NumberInStock</li>
</ul>

